{% extends 'JdhBrandInfoBundle::layout.html.twig' %}

{% block content_header %}
    <h1>Finding {{ brand }} info!</h1>
{% endblock %}

{% block content_block %}
    <div id="toolbar" class="brand-toolbar" >
        <p><a id="return_to_main" href="{{path("_brand_main")}}">Return to main page</a></p>
    </div>
    <div id="brandinfo-main-selector">
        <form action="{{ path('_brand_info', {'startIndex': '1'}) }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" id="form_submit" value="Find"/>
        </form>

        {% if info %}
            <h1>Results for {{ brand }}</h1>
            <p>Attention: This information is not real, it must implement the method to find brand information</p>
            <ul>
                {% for key, item in info %}
                    <li>
                        {{ key }} : {{ item }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}